<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingualift.app">

    <application
        android:allowBackup="true"
        android:label="LinguaLift"
        android:theme="@style/Theme.LinguaLift">
        <activity android:name="com.lingualift.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
